.vehicle-dropdowns-container {
    background-color: #f7f7f7;
    padding: 20px;
}
  
.vehicle-dropdowns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.vehicle-text-container {
    display: flex;
    flex-direction: column;
}

.set-vehicle-text {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #333;
}

.exact-fit-text {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.vehicle-dropdown {
    position: relative;
    width: 32%;
}

.vehicle-dropdown label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #333;
}

.vehicle-dropdown select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.vehicle-dropdown select::-ms-expand {
    display: none;
}

.vehicle-dropdown:not(:last-child) {
    margin-right: 30px;
}